
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import "tailwindcss";

@theme {
  --color-cinema-bg: #0d0e12;
  --color-cinema-card: #181a21 ;
  --color-cinema-accent: #6366f1 ;
  --color-cinema-cta: #f8fafc ;
  --font-display-bebas: "Bebas Neue", sans-serif;
  --font-display-oswald: "Oswald", sans-serif;

}